@import "@fontsource/saira"; /* Imports the default Saira font */;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font */
body {
  font-family: 'Saira', sans-serif;
}
html, body {
  overflow-x: hidden;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 18s linear infinite;
  width: max-content;
}

.hover\:pause-marquee:hover {
  animation-play-state: paused;
}
